
.placeholderheader {
  background-color: red;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-container {
  margin: 12px;
}

a {
  color: #FDF8F8;
  text-decoration: none;
}

.title-page {
  text-align: center;
}

.card {
  min-height: min-content;
  width: 70%;
  background-color: #002394;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  box-shadow: 2px 2px 14px -2px rgba(0,0,0,0.8);
}

.info {
  padding-left: 12px;
  color: #FDF8F8;
}

.fav-icon {
  margin-right: 24px;
}

.fa-heart {
  font-size: 36px;
  color: red  ;
}

html{
    height: 100%;
}

body{
    background-color: #FDF8F8;
    font-family: Roboto;
    /* gap: 10px;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 33% 33% 11% 11% 11%;
    grid-template-rows: 15% 84%;
    grid-template-areas:
      "hd    hd   nav    nav   nav"
      "main   main main main main " */
  }
/*
  header{
    grid-area: hd;
      background-color: #002394;
  }

  nav{
    grid-area: nav;
    background-color: #002394;
  }


  main{
    grid-area: main;
      background-color: #002394;
  } */

  